<div class="jumbotron">
    <h1 class="display-4">Rellena con tus datos</h1>
    <p class="lead">No olvides subir tu Demo y si eres de los elegidos nos pondremos en contacto contigo</p>

    <hr class="my-4">

    <form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" name="nombre" [(ngModel)]="usuario.name" minlength="4" maxlength="30" #nombre="ngModel" required>
                <div *ngIf="nombre.errors?.required"> X </div>
                <div *ngIf="nombre.errors?.minlenght">Por lo menos {{ nombre.errors.minlenght.requiredLenght }}caracteres, hija! </div>
            </div>
            <div class="form-group col-md-6">
                <label for="lastname">Apellidos</label>
                <input type="lastname" class="form-control" name="apellidos" [(ngModel)]='usuario.lastname' #apellido="ngModel" minlength="3" maxlength="30" placeholder="..." required>
                <div *ngIf="apellido.errors?.required"> X </div>

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="mail">Correo Electronico</label>
                <input type="email" class="form-control" name="mail" #mail="ngModel" [(ngModel)]='usuario.mail' placeholder="@" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                <div *ngIf="mail.errors?.pattern"> Ingresa un correo valido </div>
            </div>
            <div class="form-group col-md-6">
                <label for="phone">Teléfono directo</label>
                <input type="phone" class="form-control" name="phone" [(ngModel)]='usuario.phone' required placeholder="+52">
            </div>


        </div>
        <div class="form-group">
            <label for="address">Dirección</label>
            <input type="text" class="form-control" name="address" [(ngModel)]='usuario.address' required placeholder="1234 Main St">
        </div>

        <div class="form-row">

            <div class="form-group col-md-4">
                <label for="state">Delegación</label>
                <select name="delegation" [(ngModel)]='usuario.delegation' class="form-control">
            <option selected>...</option>
            <option>...</option>
            <option>Miguel Hidalgo</option>
            <option>Coyoacán</option>
            <option>Tlalpan</option>
          </select>
            </div>
            <div class="form-group col-md-2">
                <label for="cp">C.P.</label>
                <input type="number" class="form-control" name="zip" [(ngModel)]='usuario.zip' required>
            </div>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Archivo de Audio<i class="fa fa-audio-description" aria-hidden="true"></i></span>
            </div>

            <p>
                <p>

                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">MP3 / WAV </label>
                    </div>
        </div>

        <p>

        </p>

        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">
            Enviar
          </button>
        </div>



    </form>
</div>